<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MainPage</title>
</head>
<body>
    <p>Este site contém informações sobre os conhecidos de Murilo</p>
    <p><b>Amigos:</b></p>
    <ul>
        <li>João</li>
        <li>Valentina</li>
        <li>Dudu</li>
        <li>Duda</li>
    </ul>
    <p><b>Parentes:</b></p>
    <ul>
        <li>mãe: Alyne</li>
        <li>padrasto: eudes</li>
        <li>pai: Hebel</li>
        <li>madastra: Nyra</li>
        <li>vó(materna): Magali</li>
        <li>vó(paterna): Marucia</li>
        <li>vó(consideracao): Lenira</li>
        <li><b>irmaos:</b><ul>
            <li>Miguel</li>
            <li>Mirela</li>
            <li>Miryan</li>
            <li>Yan</li></ul>
        <li><b>Tios:</b><ul>
            <li>jader</li>
            <li>Vitor</li></ul>
        <li><b>Primos:</b></li><ul>
            <li>Valentina</li>
            <li>Benjamim</li></ul>
            </ul></ul>
        <dd>
            <dt><b><a href="/amigos/">Amigos</a></b></dt>
            <dt><b><a href="{% url 'parentes:home' %}">Parentes</a></b></dt>
            <dt><b><a href="/colecao">Coleção</a></b></dt>
        </dl>
            <p></p>    
</body>
</html>