{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/icon" href="{% static 'icone/icong.ico' %}">
    <title>Tabela</title>
</head>
<body>
    <table border="20">
        <tr>
            <th>marca</th>
            <th>caracteristicas</th>
            <th>sabor</th>
        </tr>
        <tr>
            <td>Coca</td>
            <td>Star wars(poe)</td>
            <td>Original</td>
        </tr>
        <tr>
            <td>Coca</td>
            <td>Star wars(yoda)</td>
            <td>zero</td>
        </tr>
        <tr>
            <td>Coca</td>
            <td>Star wars(darth vader)</td>
            <td>zero</td>
        </tr>
        <tr>
            <td>Coca</td>
            <td>Star wars(anakin)</td>
            <td>zero</td>
        </tr>
        <tr>
            <td>Coca</td>
            <td>Star wars(leia)</td>
            <td>zero</td>
        </tr>
        <tr>
            <td>Coca</td>
            <td>Star wars(kylo ren)</td>
            <td>Original</td>
        </tr>
        <tr>
            <td>Coca</td>
            <td>Star wars(palpatine)</td>
            <td>Original</td>
        </tr>
        <tr>
            <td>Coca</td>
            <td>Star wars(C3-PO)</td>
            <td>Zero</td>
        </tr>
        <tr>
            <td>Coca</td>
            <td>Star wars(Boba)</td>
            <td>Original</td>
        </tr>
        <tr>
            <td>Coca</td>
            <td>Star wars(Chewbacca)</td>
            <td>Zero</td>
        </tr>
        <tr>
            <td>Coca</td>
            <td>Star wars(Darth Maul)</td>
            <td>Original</td>
        </tr>
        <tr>
            <td>Coca</td>
            <td>Original</td>
            <td>Original</td>
        </tr>
        <tr>
            <td>Coca</td>
            <td>Natal</td>
            <td>Zero</td>
        </tr>
        <tr>
            <td>TNT</td>
            <td>NBA</td>
            <td>Original</td>
        </tr>
        <tr>
            <td>Coca</td>
            <td>Star wars(Ashoka)</td>
            <td>Original</td>
        </tr>
        <tr>
            <td>Fanta</td>
            <td>Halloween(freddy)</td>
            <td>Laranja</td>
        </tr>
        <tr>
            <td>Fanta</td>
            <td>Halloween(Chucky)</td>
            <td>Chucky Punch</td>
        </tr>
        <tr>
            <td>Fanta</td>
            <td>Original</td>
            <td>Uva</td>
        </tr>
        <tr>
            <td>Guarana jesus</td>
            <td>Original</td>
            <td>Original</td>
        </tr>
        <tr>
            <td>The Bulldog</td>
            <td>Original</td>
            <td>Original</td>
        </tr>
        <tr>
            <td>Tonica</td>
            <td>Original</td>
            <td>Original</td>
        </tr>
        <tr>
            <td>Pepsi</td>
            <td>Original</td>
            <td>Original</td>
        </tr>
        <tr>
            <td>Guarana</td>
            <td>Wandinha</td>
            <td>Original</td>
        </tr>
        <tr>
            <td>Monster</td>
            <td>Original</td>
            <td>Original</td>
        </tr>
        <tr>
            <td>Kuat</td>
            <td>Original</td>
            <td>Original</td>
        </tr>
        <tr>
            <td>Schweppes</td>
            <td>Mixed Vodka Citrus</td>
            <td>Vodka Citrus</td>
        </tr>
        <tr>
            <td>Beats</td>
            <td>Gin e Tonica</td>
            <td>Gin|Tonica</td>
        </tr>
        <tr>
            <td>Beats</td>
            <td>Red Mix</td>
            <td>Frutas Vermelhas</td>
        </tr>
        <tr>
            <td>Beats</td>
            <td>Senses</td>
            <td>Senses</td>
        </tr>
        <tr>
            <td>Corona</td>
            <td>Zero</td>
            <td>Zero</td>
        </tr>
        <tr>
            <td>-----------------</td>
            <td>------------------------------</td>
            <td>-------------</td>
        </tr>
        <tr>
            <th>Fanta</th>
            <th>Star wars</th>
            <th>Qtd</th>
        </tr>
        <tr>
            <td>--------3-------</td>
            <td>-------------12-------------</td>
            <td>-----30-----</td>
        </tr>
        
        <tr>
            <th>Ultima</th>
            <th>atualizacao</th>
            <td>14/03</td>
        </tr>
    </table>
    <p><dt><b><a href="/">Voltar</a></b></dt></p>
</body>
</html>