{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/icon" href="{% static 'icone/icong.ico' %}">
    <title>Tabela</title>
</head>
<body>
    <table border="65">
        <tr>
            <th>marca</th>
            <th>caracteristicas</th>
            <th>sabor</th>
            <th></th>
        </tr>
        <tr>
            <td>Coca</td>
            <td>original</td>
            <td>original</td>
        </tr>
        <tr>
            <td>Coca</td>
            <td>star wars(poe)</td>
            <td>original</td>
        </tr>
        <tr>
            <td>Coca</td>
            <td>star wars(yoda)</td>
            <td>zero</td>
        </tr>
        <tr>
            <td>Coca</td>
            <td>star wars(darth vader)</td>
            <td>zero</td>
        </tr>
        <tr>
            <td>Coca</td>
            <td>star wars(anakin)</td>
            <td>zero</td>
        </tr>
        <tr>
            <td>Coca</td>
            <td>star wars(leia)</td>
            <td>zero</td>
        </tr>
        <tr>
            <td>Coca</td>
            <td>star wars(kylo ren)</td>
            <td>original</td>
        </tr>
        <tr>
            <td>Coca</td>
            <td>star wars()</td>
            <td>original</td>
        </tr>
        <tr>
            <td>Coca</td>
            <td>star wars(palpatine)</td>
            <td>original</td>
        </tr>
        <tr>
            <td>Coca</td>
            <td>star wars(C3-PO)</td>
            <td>zero</td>
        </tr>
        <tr>
            <td>Coca</td>
            <td>star wars(boba)</td>
            <td>original</td>
        </tr>
        <tr>
            <td>Coca</td>
            <td>star wars(chewbacca)</td>
            <td>zero</td>
        </tr>
        <tr>
            <td>Coca</td>
            <td>star wars(darth maul)</td>
            <td>original</td>
        </tr>
        <tr>
            <td>Coca</td>
            <td>star wars(ashoka)</td>
            <td>original</td>
        </tr>
        <tr>
            <td>Coca</td>
            <td>star wars(lando)</td>
            <td>original</td>
        </tr>
        <tr>
            <td>Coca</td>
            <td>star wars(grievous)</td>
            <td>original</td>
        </tr>
        <tr>
            <td>guarana jesus</td>
            <td>original</td>
            <td>original</td>
        </tr>
        <tr>
            <td>fanta</td>
            <td>halloween(freddy)</td>
            <td>laranja</td>
        </tr>
        <tr>
            <td>fanta</td>
            <td>halloween(chucky)</td>
            <td>chucky punch</td>
        </tr>
        <tr>
            <td>tonica</td>
            <td>original</td>
            <td>original</td>
        </tr>
        <tr>
            <td>the bulldog</td>
            <td>original</td>
            <td>original</td>
        </tr>
        <tr>
            <td>guarana</td>
            <td>wandinha</td>
            <td>original</td>
        </tr>
        <tr>
            <td>pepsi</td>
            <td>original</td>
            <td>original</td>
        </tr>
    </table>
    <p><dt><b><a href="/">Voltar</a></b></dt></p>
</body>
</html>