{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/icon" href="{% static 'icone/icong.ico' %}">
    <title>irmãos</title>
</head>
<body>
    <p>irmãos:</p>
    <ul>
        <li><a href="{% url 'parentes:miguel' %}">Miguel</a></li>
        <li><a href="{% url 'parentes:mirela' %}">Mirela</a></li>
        <li><a href="{% url 'parentes:miryan' %}">Miryan</a></li>
        <li><a href="{% url 'parentes:yan' %}">Yan</a></li>
    </ul>
</body>
</html>