{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/icon" href="{% static 'icone/icong.ico' %}">
    <title>Lenira</title>
</head>
<body>
    <p><b><h3>Nome completo:</h3></b></p>
    Lenira Maria de Lima Silva
    <p><b><h3>Data de nascimento:</h3></b></p>
    14/07/1969
    <p><b><h3>Foto:</h3></b></p>
    <img src="{% static 'foto_lenira/lenirag.jpg' %}" alt="Foto Lenira" width="375">

</body>
</html>