<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    o'que voce acha que o miguel é?
    <p><select name="miguel" value="genero" size=1>
        <option>um pouco gay
        <option>gay
        <option>bem gay
        <option>muito gay
        <option>extremamente gay
        <option>totalmente gay
        <option>mais gay que o pablo vitar
    </select></p>
    <p><input type="submit" placeholder="enviar para o gaygle"></p>

</body>
</html>