{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/icon" href="{% static 'icone/icong.ico' %}">
    <title>Miguel</title>
</head>
<body>
    <p><b><h3>Nome completo:</h3></b></p>
    Miguel Santana Nutels
    <p><h3><b>Data de nascimento:</b></h3></p>
    28/02/2013
    <p><b><h3>Foto:</h3></b></p>
    
    <img src="{% static 'foto_miguel/miguel_morrendo.jpg' %}" alt="Foto Miguel" width="400">
</body>
</html>