{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/icon" href="{% static 'icone/icong.ico' %}">
    <title>Mirela</title>
</head>
<body>
    <p><b><h3>nome completo:</h3></b></p>
    Mirela Santana Nutels
    <p><h3><b>Data de nascimento:</b></h3></p>
    28/02/2013
    <p><b><h3>Foto:</h3></b></p>
    <img src="{% static 'foto_mirela/mirelag.jpg' %}" alt="Foto mirela" width="300">
</body>
</html>