{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/icon" href="{% static 'icone/icong.ico' %}">
    <title>Miryan</title>
</head>
<body>
    <p><b><h3>nome completo:</h3></b></p>
    Miryan Ferreira Nutels
    <p><h3><b>Data de nascimento:</b></h3></p>
    16/07/2020
    <p><b><h3>Foto:</b></p>
    <img src="{% static 'foto_miryan/miryang.jpg' %}" alt="Foto Miryan" width="350">
</body>
</html>