{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/icon" href="{% static 'icone/icong.ico' %}">
    <title>nyra</title>
</head>
<body>
    <p><b><h3>nome completo:</h3></b></p>
    Nyra Lima Nutels
    <p><b><h3>data de nascimento:</h3></b></p>
    09/05/1990
    <p><b><h3>Foto:</h3></b></p>
    <img src="{% static 'foto_nyra/nyrag.jpg' %}" alt="Foto Nyra" width="350">    
</body>
</html>